
@font-face {
    font-family: 'allerbold';
    src: url('../assets/fonts/aller_bd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'allerregular';
    src: url('../assets/fonts/aller_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    box-sizing: border-box;

    --bg-dark: rgb(39, 39, 39);
    --accent-dark: rgb(26, 26, 26);
    --square-dark: rgb(121, 121, 121);
    --green-dark: rgb(95, 120, 95);
    --board-size: max(300px, 30vw);
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-dark);
    
    .board {
        width: var(--board-size);
        height: var(--board-size);

        display: grid;
        grid-template-rows: repeat(3, 1fr);
        gap: 6px;

        background-color: var(--square-dark);
    
        & > div {
            width: 100%;
            height: 100%;
            
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 6px;

            & div.cell {
                background-color: var(--bg-dark);
                display: flex;
                justify-content: center;
                align-items: center;

                & img {
                    width: 100%;
                    height: 100%;
                }   
            }
        }
    }

    & svgs {
        position: absolute;
        visibility: hidden;
    }
}







/* Start dialog */

dialog#start-dialog[open] {
    width: 40vw;
    min-width: 420px;
    height: 500px;
    min-height: 400px;

    margin: auto;
    padding: 0;

    background-color: var(--accent-dark);

    border: 2px solid var(--square-dark);
    border-radius: 16px;
    box-shadow: 0 0 5px 1px var(--square-dark);

    overflow: hidden;

    & form {
        width: 100%;
        height: 100%;

        display: grid;
        grid-template-rows: 1fr 100px;

        & > div.inputs-container {
            width: 100%;

            display: grid;
            grid-template-rows: 1fr 1fr;
            align-items: center;

            & div.ipt-1 {
                width: 80%;

                padding: 20px;

                justify-self: center;

                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;

                & img {
                    height: 8em;
                }

                & input {
                    height: 70px;
                    width: 100%;
                    min-width: 200px;

                    padding: 10px 20px;

                    color: white;
                    font-size: 32px;
                    font-family: allerregular;

                    background-color: var(--bg-dark);
                    
                    border: 1px solid var(--square-dark);
                    border-radius: 8px;
                }
            }

            & div.ipt-2 {
                width: 80%;

                padding: 20px;

                justify-self: center;

                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;

                & img {
                    height: 8em;
                }

                & input {
                    height: 70px;
                    width: 100%;
                    min-width: 200px;

                    padding: 10px 20px;

                    color: white;
                    font-size: 32px;
                    font-family: allerregular;

                    background-color: var(--bg-dark);
                    
                    border: 1px solid var(--square-dark);
                    border-radius: 8px;
                }
            }

        }

        & div.start-btn {
            
            padding: 0;

            & button {
                width: 100%;
                height: 100%;

                margin: 0;

                border: none;

                color: white;
                font-family: allerbold;
                font-size: 46px;

                background-color: var(--square-dark);

                &:hover {
                    background-color: var(--green-dark);
                    cursor: pointer;
                }
                
            }

        }
        
    }
}